script(src="/js/index.js", type="application/javascript")
hr
footer
    p(style="margin:5px;") <mark><strong>This Voting App has been built by Nishant Tomer for FreeCodeCamp.</mark></strong><br/>
        a.btn.btn-primary(href="https://www.freecodecamp.com/challenges/build-a-voting-app",style="margin:5px 5px 0 0;") FCC | Instructions 
        a.btn.btn-primary(href="https://github.com/nishant-tomer/fcc-voting-app",style="margin:5px 5px 0 0;") Github Repository
