include header.jade

.jumbotron.bg-success
    .container.text-center
        blockquote
            h2 Hello, There!
            p.lead You can do <i class="fa fa-hand-peace-o"></i> things here.
        .row
            .col-md-1
            .col-md-4
                .panel
                    .panel-heading.bg-primary.text-center
                        .panel-title(style='font-family:Droid Serif;') <strong>Look.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vote.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Share.</strong>
                    .panel-body.text-justify(style='font-family:Open Sans;')
                        p 1.<strong>Look</strong> at any of the Polls below to check detailed stats.
                        p 2.<strong>Vote</strong> for your favourite option. Pick any Poll.
                        p 3.<strong>Share</strong> Polls at your favourite social platform.

            
            .col-md-2
            .col-md-4
                .panel
                    .panel-heading.bg-primary.text-center
                        .panel-title(style='font-family:Droid Serif;') <strong>Create.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invite.</strong>
                    .panel-body.text-justify(style='font-family:Open Sans;')
                        p 1.<strong>Create</strong> a Poll after signing in using your Google account.
                        p 2.<strong>Edit</strong> Poll options on any Poll, after signing in. 
                        p 3.<strong>Invite</strong> your friends to vote by sharing the Poll.

            .col-md-1
.container.text-center
    .row
        .col-md-3
            .panel
                .panel-heading.bg-info.text-center
                   .panel-title(style='font-family:Droid Serif;') <strong>Who am i ?</strong>
                .panel-body.text-justify(style='font-family:Open Sans;')
                    h4 This is a test poll to check the functioning of current app.
                    h1
                    a.pull-right.btn.btn-default(href='#', role='button') Vote &raquo;
                    p 
                        <i class="fa fa-male"></i> 
                        span Nishant Tomer 
                    p
                        <i class="fa fa-bar-chart"></i> 
                        span 6
        .col-md-3
            .panel
                .panel-heading.bg-info.text-center
                    .panel-title(style='font-family:Droid Serif;') <strong>Who am i ?</strong>
                .panel-body.text-justify(style='font-family:Open Sans;')
                    h4 This is a test poll to check the functioning of current app.
                    h1
                    a.pull-right.btn.btn-default(href='#', role='button') Vote &raquo;
                    p 
                        <i class="fa fa-male"></i> 
                        span Nishant Tomer 
                    p
                        <i class="fa fa-bar-chart"></i> 
                        span 6
        .col-md-3
            .panel
                .panel-heading.bg-info.text-center
                    .panel-title(style='font-family:Droid Serif;') <strong>Who am i ?</strong>
                .panel-body.text-justify(style='font-family:Open Sans;')
                    h4 This is a test poll to check the functioning of current app.
                    h1
                    a.pull-right.btn.btn-default(href='#', role='button') Vote &raquo;
                    p 
                        <i class="fa fa-male"></i> 
                        span Nishant Tomer 
                    p
                        <i class="fa fa-bar-chart"></i> 
                        span 6
        .col-md-3
            .panel
                .panel-heading.bg-info.text-center
                    .panel-title(style='font-family:Droid Serif;') <strong>Who am i ?</strong>
                .panel-body.text-justify(style='font-family:Open Sans;')
                    h4 This is a test poll to check the functioning of current app.
                    h1
                    a.pull-right.btn.btn-default(href='#', role='button') Vote &raquo;
                    p 
                        <i class="fa fa-male"></i> 
                        span Nishant Tomer 
                    p
                        <i class="fa fa-bar-chart"></i> 
                        span 6
        
    include footer.jade
        
