#pollModal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4#pollName.modal-title.text-center 
      .modal-body
        .text-center.bg-info#showMsg 
         p
        .container-fluid
            .row
                .col-md-6
                    h5.bg-primary#desc(style = "padding: 10px; border-radius:5px; font-family: Droid Serif") 
                    p
                        #options
                        if user !== undefined
                          button.btn.btn-success#addOption(type='button',style="margin-top:10px; margin-right:5px") Add Another Option
                        button.btn.btn-success#sendVote(type='button',style="margin-top:10px;") Send Vote
                        a.btn.btn-info.twitter-share-button#tweet(data-size="large",style="margin-top:10px; margin-left:5px") Tweet
                        
                          

                .col-md-6
                    canvas#myChart(width="250",height="250")
      
        
      .modal-footer
            p#votes.pull-left(style="margin-left:15px;")
            button.btn.btn-danger(type='button', data-dismiss='modal') Close
       
