
<!-- Modal -->
<div class="modal fade" id="newPoll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><strong>New Poll</strong></h4>
      </div>
      <div class="modal-body">
          <form id="pollForm" class="form-horizontal">
               <div class="form-group">
                 <label for="name" class="col-sm-2 control-label">Name</label>
                 <div class="col-sm-10">
                   <input type="text" class="form-control" id="name" placeholder="Name of the Poll">
                 </div>
               </div>
               <div class="form-group">
                 <label for="desc" class="col-sm-2 control-label">Description</label>
                 <div class="col-sm-10">
                   <textarea placeholder="Describe your Poll here a bit" form = "pollForm" class="form-control" id="desc"></textarea>
                 </div>
               </div>
               <div class="form-group">
                 <div class="col-sm-2 col-sm-offset-2">
                   <button class="btn btn-default" id="createOption">Add an Option</button>
                 </div>
               </div>
           </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><strong>Edit Profile</strong></h4>
      </div>
      <div class="modal-body">
          <form id="pollForm" class="form-horizontal">
               <div class="form-group">
                 <label for="name" class="col-sm-3 control-label">New Name</label>
                 <div class="col-sm-9">
                   <input type="text" class="form-control" id="name" placeholder="Type an awesome name here">
                 </div>
               </div>
               <div class="form-group">
                 <label for="email" class="col-sm-3 control-label">New email</label>
                 <div class="col-sm-9">
                   <input type="text" class="form-control" id="name" placeholder="Type your new mail here">
                 </div>
               </div>
           </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>
