#newPoll.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header.text-center
                h4#myModalLabel.modal-title
                    strong New Poll
            .modal-body
                .text-center.bg-info#createMsg 
                p
                form#pollForm.form-horizontal
                    .form-group
                        label.col-sm-2.control-label(for='name') Name
                        .col-sm-10
                            input#name.form-control(type='text', name = "name", placeholder='Name of the Poll', maxlength = 50, required)
                            small.text-muted.pull-left max 50 chars. 
                    .form-group
                        label.col-sm-2.control-label(for='desc') Description
                        .col-sm-10
                            textarea#desc.form-control(rows="3", placeholder='Describe your Poll here a bit', name = "desc", form='pollForm', maxlength = 200, required)
                            small.text-muted.pull-left max 200 chars.
                    .form-group
                        label.col-sm-2.control-label( for="options") Option
                        .col-sm-7
                            input.form-control.option(type="text", placeholder="Your option here", maxlength = 40, required)
                            small.text-muted.pull-left max 40 Chars.
                    .form-group
                        label.col-sm-2.control-label( for="options") Option
                        .col-sm-7
                            input.form-control.option(type="text", placeholder="Your option here", maxlength = 40, required)
                            small.text-muted.pull-left max 40 Chars.
                    .form-group
                        .col-sm-2.col-sm-offset-2
                            button#createOption.btn.btn-default Add another Option

            .modal-footer
                button.btn.btn-danger(type='button', data-dismiss='modal') Close
                button.btn.btn-primary#createPoll(type='button' ) Create

